@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  object-fit: cover;
}

body {
  background-color: #fffbe7;
}

/* navbar */
nav {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav a.logo {
  font-size: 33px;
  color: black;
  font-weight: 600;
}

nav .links a:not(:last-child) {
  margin-right: 20px;
}

nav .login button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav .login button:hover {
  color: #0f2182;
}

nav .login button.signup {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  margin-right: 14px;
}

nav .login button.signup:hover {
  color: #fff;
  background: #0f2182;
}
/* end navbar */

/* header */
header {
  padding: 0 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left {
  width: 700px;
}

header .left h1 {
  font-size: 80px;
}

header .left h1 span.spam {
  color: orangered;
}

header .left p {
  margin: 40px 0;
  color: #777;
}

header img {
  width: 600px;
}
/* end header */

/* user */
.user {
  padding: 0 80px;
  margin: 50px 0 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.user .item,
.nft-shop .nft-list .item {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.user .item:hover,
.nft-shop .nft-list .item:hover,
.sellers .item:hover {
  box-shadow: none;
}

.user .item .header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user .item .header h5 {
  font-size: 60px;
}

.user .item p {
  margin-top: 10px;
  padding: 0 4px;
}

aside {
  font-style: italic;
}
/* end user become */

/* view */
.view {
  padding: 0 80px;
  margin-top: 30px;
}

.view .view-list {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.view .view-list .item img {
  width: 280px;
  height: 280px;
  border-radius: 18px;
}

.view .view-list .item .info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #edecec;
}

.view .view-list .item .info h5 {
  font-size: 18px;
}

.view .view-list .item .info .btc {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.view .view-list .item .btc i {
  font-size: 22px;
  color: #304ffe;
}

.view .view-list .item .btc p {
  font-size: 12px;
  color: #304ffe;
}

.view .view-list .item .info > p {
  font-size: 12px;
  color: #989898;
}

.view .view-list .item .bid {
  padding: 14px 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view .view-list .item .bid p,
.view .view-list .item .bid a {
  background-color: #edecec;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 10px;
}

.view .view-list .item .bid a {
  color: #304ffe;
  background: transparent;
  font-weight: bold;
  transition: all 0.3s ease;
}

.view .view-list .item .bid a:hover {
  color: #fff;
  background-color: #000;
}
/*  end view */

.view-more {
  margin: 10px 0 40px;
  display: flex;
  justify-content: center;
}

.view-more button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: #fff;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-more button:hover {
  color: #fff;
  background: #0f2182;
}

/* footer */
footer {
  background-color: orangered;
  color: #fff;
  padding: 100px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h3 {
  font-size: 48px;
}

footer .right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
}

footer .right .links {
  display: flex;
  gap: 30px;
}

footer .right .links a {
  color: #fff;
  transition: color 0.3s ease;
}

footer .right .links a:hover {
  color: #fff;
}

footer .right .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .right .social i {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

footer .right .social i:hover {
  color: #304ffe;
}

footer .right p {
  font-size: 13px;
  color: #fff;
}
/* emd footer */

/* mobile layout */

/* end mobile layout */
